// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  text-align: center;
}

h2 {
  background-color: goldenrod;
}

.container {
  width: 500px;
  margin: 0px auto;
}
